{% extends "layout.html" %}
{% block content %}
    <div class="container">
	<div class="content-section">
	    <div class="media-body">
		<h2 class="account-heading">{{ current_user.username }}</h2>
	    </div>
	</div>
	<!-- Form Update -->
	<div class="content-section">
	    <form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
		    <legend class="border-bottom mb-4">Update User Info</legend>
		    <div class="form-group mb-2">
		        {{ form.username.label(class="form-control-label") }}
			<!-- handle errors with user input-->
			{% if form.username.errors %}
			    {{ form.username(class="form-control form-control-lg is-invalid") }}
			    <div class="invalid-feedback">
				{% for error in form.username.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			    </div>
			{% else %}
			    {{ form.username(class="form-control form-control-lg") }}
			{% endif %}
		</fieldset>
		<div class="form-group">
		    {{ form.submit(class="btn btn-outline-info") }}
		</div>
	    </form>
	</div>
    </div>
{% endblock content %}
