{% extends "layout.html" %}
{% block content %}
<!-- Order Table-->
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>order_date/th>
                <th>quantity_ordered</th>
            </tr>
        </thead>
        <tbody>
            {% for orders in order %}
                <tr>
                    <td>{{ orders.order_date }}</td>
                    <td>{{ orders.quantity_ordered }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
