{% extends "layout.html" %}
{% block content %}
    <!-- Supplier Table-->
    <div class="container">
        <table class="table table-striped">
	    <thead>
	        <tr>
		    <th>Company Name</th>
		    <th>Company Address</th>
		    <th>Contact Person</th>
		    <th>Phone Number</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for suppliers in supplier%}
		    <tr>
		        <td>{{ suppliers.company_name }}</td>
		        <td>{{ suppliers.address }}</td>
		        <td>{{ suppliers.contact_person }}</td>
		        <td>{{ suppliers.phone_number }}</td>
		    </tr>
	        {% endfor %}
	    </tbody>
        </table>
    </div>
{% endblock content %}
