<!DOCTYPE html>
<html>
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	{% if title %}
	    <title>Supply Chain Dashboard - {{ title }}</title>
	{% else %}
	    <title>Supply Chain Dashboard</title>
	{% endif %}
    </head>
    <main role="main" class="container">
	<div class="col-md-8">
	    {% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
		    {% for category, message in messages %}
		        <div class="alert alert-{{ category }}">
			    {{ message }}
			</div>
		    {% endfor %}
		{% endif %}
	    {% endwith %}
	</div>
    </main>
</html>
